
#intro-text {
  font-size: 15px;
  font-family: Arial;
}

.text-body {
  width: 200px;
  text-align: center;
}

.body-grad-slider {
  display: inline-block;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.enabled {
  background: linear-gradient(60deg, purple, cyan);
  color: white;
}

.disabled {
  background: #cccccc;
  color: black;
}
